# Ignore Gradle project-specific cache directory
.gradle
.gradle/
bin

# Ignore Gradle build output directory
build
project-group-17-backend/bin

# Ignore the node_modules folder
project-group-17-frontend/node_modules

# Ignore the android directory
#project-group-17-android/

.DS_Store

.classpath
.project
.settings/


